[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pandas = "*"
plotly = "*"
statsmodels = "*"
pytest = "*"
pytest-cov = "*"
streamlit-aggrid = "*"
kaleido = "*"
duckdb = "*"
adr-tools-python = "*"
fastapi = {extras = ["standard"], version = "*"}

[dev-packages]
ruff = "*"

[requires]
python_version = "3.10"

[scripts]
frontend = "bash -c 'cd frontend && streamlit run main.py'"
backend = "bash -c 'cd backend && uvicorn routes:app --reload --port 5000'"
test = "pytest -m single -v --cov=."
fulltest = "pytest -v --cov=."
